<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>559714110568-35tj2rn9ev23euhhu5hk760b7cue2pm9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.559714110568-35tj2rn9ev23euhhu5hk760b7cue2pm9</string>
	<key>API_KEY</key>
	<string>AIzaSyCi_M8jm2uUbYsEX_qQX9tz0_pUrCByysA</string>
	<key>GCM_SENDER_ID</key>
	<string>559714110568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sajjad</string>
	<key>PROJECT_ID</key>
	<string>sajjad-5d1d8</string>
	<key>STORAGE_BUCKET</key>
	<string>sajjad-5d1d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:559714110568:ios:732514e1ed69ccfe3effdd</string>
</dict>
</plist>